header {
    width: 800px;
    margin: auto;
    margin-bottom: 30px;
    background-color: red;
}
main {
    width: 800px;
    margin: auto;
    margin-bottom: 30px;
    background-color: red;
}

footer {
    width: 800px;
    margin: auto;
    margin-bottom: 30px;
    background-color: red;
}