body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header,
main,
footer {
    display: inline-block;
    width: 800px;
    margin-left: calc(50% - 400px);
    margin-right: calc(50% - 400px);
    margin-bottom: 30px;
}

header > img {
    float: left;

}

nav {
    float: right;
    margin-top: 10px;
}

nav > a {
    float: left;
    margin-left: 50px;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
}

nav > a:nth-of-type(1) {
    margin-left: 0;
}

main > div {
    width: 40%;
    float: left;
}

main h1 {
    margin: 0;
    font-size: 60px;
    font-weight: normal;
}

main h2 {
    margin: 0;
    font-size: 60px;
    letter-spacing: -2px;
}

main p {
    color: #777;
}

main > img {
    width: 55%;
    float: right;
}

main > div > div {

}

main a {
    display: inline-block;
    text-decoration: none;
    background-color: #222244;
    color: white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
}

main a:last-child {
    color: #222244;
    background-color: white;
    border: 2px solid#222244;
}